@import "grid.less";

.transform(){
    transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.rounded(@radius : 5px){
    -moz-border-radius:@radius; 
    -webkit-border-radius:@radius;
    border-radius:@radius;
}

///////////////////////////////////// debut design ecran supp a 960px

body{
    font: normal 15px Helvetica, Arial, Sans-Serif;
    line-height: 1.4;
    overflow: scroll;
    padding-bottom: 2em;
    background-color: rgb(250,250,250);
    margin: 0;
}

.content{
    width:960px;
    margin: 0 auto;
}

nav{
    background: url("../img/header_bg.png") repeat-x;
    height: 210px;
    margin-top: -1em;
}

nav ul{
    .column(6);
    margin-left: 37em;
    padding-top: 3em;
}

nav li {
    display:inline;
    margin-right: 2em;
}

nav a, nav a:visited {
    color:white;
    font-size: 1.2em;
    text-decoration: none;
}

nav a:hover{
    color: rgb(180,180,180);
    padding-bottom: 0.3em;
    border-bottom: 1px dashed rgb(180,180,180);
}

#bgslide{
    margin-bottom: 3em;
}

#slider {
    width:37em;
    height:18.7em;
    position:relative;
    margin:0 auto;
    box-shadow: 0px 1px 5px #999999;
    .transform;
}
#slider img {
    position:absolute;
    border:none;
    display:none;
}

#slider a.imgLink {
    z-index:2;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    border:0;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

.info{
    margin-bottom: 2em;
}

.info.travaux h2, .info h2, #portTitle, #blogTitle, .proposTitle{
    text-align: center;
    margin: 1.5em 0 0 1em;
    padding-top: 0.2em;
    background: url("../img/titre.png") no-repeat;
    color: white;
    height: 71px;
}

#tvx{
    display: inline-block;
    width: 100%;
    margin-left: 2em;
}

#tvx a{
    text-decoration:none;
    padding-right: 0.5em;
}

.news, .blog{
    .column(5);
    display: inline-block;
    margin-left: 5.5em;
}

.news h3, .blog h2{
    font-size: 1.3em;
}

.news p, .blog p {
    margin-left: 2em;
    font-size: 1.1em;
}

.news footer p, .blog footer p{
    display: inline;
    margin-left: 0em;
    margin-right: 1em;
}

#portfolio, #blog, #home, #propos{
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: -3em;
    text-align: center;
}

#gallery{
    margin-left: 4.5em;
    padding-top: 1em;
}

.portfolio{
    display: inline-block;
    width: 150px;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.portfolio a:hover{
    opacity: 0.5;
}

.portfolio h2 {
    text-align:center;
    margin-top: 0.5em;
}

.propos{
    .column(7);
    display: inline-block;
    margin: -1em 2em 0 2em;    
}

.propos p{
    margin: 0 2em;
    font-size: 1.1em;
    line-height: 1.5;
}

table {
    font-size: 1.1em;
    line-height: 2;   
    background: rgba(0,0,0,0.3);
    color: white;
    .rounded(1em);
    margin-bottom: 3em;
}

td{
    padding-right: 0.55em;
    display: inline-block;
}

tr{
    display: inline-block;
    .column(2);
    text-align: right;
}

#yt{
    display: inline-block;
    height: 64px;
    width: 64px;
    background: url("../img/spriteyt.png") 0px 0px;
}

#yt:hover{
    display: inline-block;
    height: 64px;
    width: 64px;
    background: url("../img/spriteyt.png") 0px 64px;
}

#fb{
    display: inline-block;
    height: 64px;
    width: 64px;
    background: url("../img/spritefb.png") 0px 0px;
}

#fb:hover{
    display: inline-block;
    height: 64px;
    width: 64px;
    background: url("../img/spritefb.png") 0px 64px;
}

#contact {
    display: inline-block;
    font-size: 1.2em;
    .column(12);
}

#contact p{
    display: inline;
    padding-right: 2em;
    margin-left: 21em;
}

#contact a {
    display: inline-block;
    margin-right: 1em;
    vertical-align:middle;
}
